canvas{
    background: green;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}
body{
  background-color: #6d2e88;
}
leftbanner{
  position: absolute;
top: 96px;
bottom: 96px;
left: 96px;
}
rightbanner{
  position: absolute;
  top: 96px;
  bottom: 96px;
  right: 96px;

}
